nav > ul {
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 20px;
    padding: 0 10px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
}
nav li:hover{
    background-color: lightgray;
    
    
}
nav > ul > li:hover > ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    padding: 0 10px;
    background-color: lightblue;

}
.dropdown li{
    padding: 0;
    margin: 0;
}